<h1 align="center">Listing All Articles</h1>
    
        <!--loop thru each article record-->
<% @articles.each do |r| %>

<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
            <div class="article-title">
                <%= link_to r.title, article_path(r) %> 
            </div>
            <div class="article-body">
                <%= truncate(r.description, length: 100) %>
                <div class="article-meta-details">
                    <small>Created by: <%= r.user.username if r.user %>,
                                   <%= time_ago_in_words(r.created_at) %> ago,
                                   last updated: <%= time_ago_in_words(r.updated_at) %> ago
                    </small>
                </div>    
            </div> 
            
            <div class="article-actions">
                <%= link_to "Edit this article", edit_article_path(r.id), class: "btn btn-xs btn-primary" %> 
                <%= link_to "Delete this article", article_path(r.id), method: :delete, 
                            data: { confirm: "Are you sure you want to delete article?"}, 
                            class: "btn btn-xs btn-danger" %>
            </div>            
            
        </div>
    </div>
</div>

<% end %>